@import "../setup/_base.scss";
@import "../setup/_mixins.scss";
@import "../setup/_variables.scss";
@import "../setup/_responsive.scss";

.res-form {
  @include boxLayout($marg: 8em 15em);
  .form-container {
    width: 100%;
  }
}
