@import "../setup/_base.scss";
@import "../setup/_mixins.scss";
@import "../setup/_variables.scss";
@import "../setup/_responsive.scss";

.header-dark {
  .navbar {
    background: transparent;
    color: $primary-font-color;
    border-radius: 0;
    box-shadow: none;
    border: none;
    .navbar-brand {
      font-weight: bold;
      color: inherit;
      :hover {
        color: $secondary-font-color;
      }
    }
    ul {
      padding-right: 1em;
    }
    .navbar-collapse {
      border-color: $secondary-font-color;
      span {
        margin-top: $scale * 0.5px;
        .login {
          color: $secondary-font-color;
          margin-right: $scale * 0.1rem;
          text-decoration: none;
          :hover {
            color: $primary-font-color;
          }
        }
        form {
          border-color: $secondary-font-color;
        }
      }
    }
    .navbar-toggler {
      color: $primary-font-color;
      :focus {
        background: none;
      }
      :hover {
        background: none;
      }
    }
  }
  .navbar-dark {
    .navbar-nav {
      .nav-link {
        color: #d9d9d9;
        :hover {
          color: #fcfeff !important;
          background-color: transparent;
        }
        :focus {
          color: #fcfeff !important;
          background-color: transparent;
        }
      }
      > li > .dropdown-menu {
        margin-top: -5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 2px;
        .dropdown-item {
          line-height: 2;
          font-size: 14px;
          color: #37434d;
        }
        :focus {
          line-height: 2;
          font-size: 14px;
          color: #37434d;
          background: #ebeff1;
        }
        :hover {
          background: #ebeff1;
        }
      }
    }
  }
  form {
    border-color: $secondary-font-color;
    .search-field {
      display: inline-block;
      width: $scale * 5.4%;
      background: none;
      border: none;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      color: $secondary-font-color;
      box-shadow: none;
      color: inherit;
      transition: border-bottom-color 0.3s;
      :focus {
        border-bottom: 1px solid $secondary-font-color;
      }
    }
  }
  label {
    color: $secondary-font-color;
  }

  .action-button {
    background: #208f8f;
    border-radius: $scale * 2px;
    font-size: inherit;
    color: #fff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: 0.5rem 0.8rem;
    transition: background-color 0.25s;
    :active {
      background: #208f8f;
      border-radius: $scale * 2px;
      font-size: inherit;
      color: #fff;
      box-shadow: none;
      border: none;
      text-shadow: none;
      padding: 0.5rem 0.8rem;
      transition: background-color 0.25s;
    }
    :hover {
      background: #269d9d;
      opacity: 0.5;
    }
  }
}
