@import "../setup/_base.scss";
@import "../setup/_mixins.scss";
@import "../setup/_variables.scss";
@import "../setup/_responsive.scss";

.action-button {
  background: $primary-button-color;
  border-radius: $scale*2px;
  font-size: inherit;
  color: $primary-font-color;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 0.5rem 0.8rem;
  transition: background-color 0.25s;
  :hover {
    background: #033838;
  }
}