@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');

$font-stack: "Bitter", Arial, Helvetica, sans-serif;
$font-hero: "Shockwave", Arial, Helvetica, sans-serif;
$primary-color: #1e2833;
$secondary-color: #0b5ed7;
$highlight-color: #910e01;
$primary-font-color: #fff;
$secondary-font-color: #d6d8da;
$primary-button-color: #208f8f;
$scale: 12;
