@import "./setup/_base";
@import "./setup/_mixins.scss";
@import "./setup/_variables.scss";
@import "~vue-ionicons/ionicons.scss";

#app {
  background: url(../assets/main.jpg) #444;
  background-size: cover;
  color: $primary-font-color;
  background-color: $primary-color;
  font-family: $font-stack;
}

a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

a:hover {
  color: inherit;
  opacity: 0.8;
}

ul {
  list-style: none;
}
